@import "tailwindcss";

@theme {
  --color-fountain-blue: #4DB6AC;
  --color-default-text: #c9d1d9;
  --color-link-text: #8cb4ff;
  --color-default-canvas: #0d1117;
  --color-sub-canvas: #202124;
  --color-default-border: #858585;
  --color-item-border: #e5e7eb;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  --animate-progress: spin 2s linear infinite;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@utility spinner {
  @apply flex items-center justify-center rounded-full border-r-4 border-t-4 border-l-0 border-b-0 border-transparent;
}

:root {
  --default-text: #c9d1d9;
  --default-canvas: #0d1117;
  --default-border: #858585;
  --link-text: #8cb4ff;
  color-scheme: dark;
}
