@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: JasonHandwriting;
  src: url('/fonts/JasonHandwriting/JasonHandwriting1.ttf') format('truetype');
}

@font-face {
  font-family: DiamorScript;
  src: url('/fonts/DiamorScript/Diamor.ttf') format('truetype');
}

@layer components {
  .spinner {
    @apply flex items-center justify-center rounded-full border-r-4 border-t-4 border-l-0 border-b-0 border-transparent;
  }
}
